
.patientInput,
.buttonStyle{
    text-align: center;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

#address{
    height: 60px;
}
h3{
    margin-top: 30px;
}
.entryform{
    text-align: center;

}