.changestyling{
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.FreeScrollbar-container{
    width: 100%;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #2864a321
}

.border-secondary{
    margin-left: 0.5rem
}
.scroll-bar{
    width: 100%;
    height: 30vh;
}

.borderlist{
    margin-left: 1rem;
    margin-right: 1 rem;
    padding-right: 10px;
}

@media (max-width: 768px) {
    .scroll-bar,
    .border-secondary{
        height: 30vh;
    }

}
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }