.card-color{
    background-color: whitesmoke;
}

.card-header-color{
    background-color: whitesmoke;
  }
  .right-shift{
      margin-right: 2rem;
      margin-bottom: 1rem;
  }
  .head-color{
      color: black;
      margin-top: 10px;
  }