.infostyle{
    font-weight: 400;
    color: black;
}

.headers-div{
    display:flex
}

.headerstyling{
    color:maroon;
    padding-top: 0;
    margin: 0 auto;
    /* margin-left: 1rem; */
}
.patient_list li{
    list-style-type: disc;
}
.alignUl{
    text-align: left ;
}