.infostyle{
    font-weight: 400;
    color: black;
}
.headerstyling{
    color:maroon;
    padding-top: 0;
    margin-top: 0;
}
.patient_list li{
    list-style-type: disc;
}
.alignUl{
    text-align: left ;
}