.main-navigation {
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
}
.toolbar__toggle-button {
  align-self: center;
  align-items: center;
}
.spacer {
  flex: 1;
}
.main-navigation__div {
  display: flex;
  align-items: center;
}
.main-navigation__items {
  width: 100%;
  margin-left: 1.5rem;
  display: flex;
  align-content: center;
}
.main-navigation__items ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0.5rem;
  /* margin-top: 1rem; */
}

.btn{
  color: white;
}
.btn:hover,
.btn:active{
  text-decoration: none;
  color: lightblue;
}

.main-navigation__items li {
  /* margin: 0 0.5rem; */
  margin-left: 1rem
}

.main-navigation__items a {
  text-decoration: none;
  color: white;
}
.main-navigation__items a:hover {
  text-decoration: none;
  color: lightblue;
}
.main-navigation__items a:active {
  text-decoration: none;
  color: lightblue;
}

@media (max-width: 768px) {
  .toolbar__navigation-items {
    display: none;
  }
  .main-navigation__div {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }
  .toolbar__logo {
    margin-left: 0;
  }
}
