.styling-details {
  color: purple;
  float: left;
  font-size: larger;
  display: flex;
  align-content: center;
}
.attribute-styling {
  color: black;
  /* float: right; */
  /* font-size: larger; */
  margin-left: 0.5rem;
}

.row1 {
  width: 100%;
  display: flex;
}

.spacer {
  flex: 0 1 auto;
}

.align-details {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}
.alignDetails {
  margin-left: 40px;
  /* width: 100%; */
}
.rightalign {
  margin-left: 40px;
}
.highlighter {
  font-weight: bold;
}

.row2,
.row1 {
  overflow: scroll;
  scroll-behavior: auto;
}
.row2::-webkit-scrollbar,
.row1::-webkit-scrollbar  {
  display: none;
}
.row2,
.row1 {
  -ms-overflow-style: none;
}

@media (min-width: 769px) {
  .name {
    margin-left: 2rem;
  }

  .pid {
    margin-right: 2rem;
  }

  .row2 {
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: auto;
  }
  .row2::-webkit-scrollbar {
    display: none;
  }
  .row2 {
    -ms-overflow-style: none;
  }

  .number {
    margin-left: 2rem;
  }

  .weight {
    margin-right: 2rem;
  }
}

@media (max-width: 768px) {
  .align-details {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .row2 {
    width: 100%;
    overflow: scroll;
    scrollbar-base-color: blue;
  }
}
