.Container{
    height: 100%;
    /* background: #003973; 
    background: -webkit-linear-gradient(to right, #E5E5BE, #003973); 
    background: linear-gradient(to right, #E5E5BE, #003973); */
  }
body{
    height: 100%;
}
.title{
    align-self: center;
}
.imag{
    margin-top: 100px;
    border-radius: 50%;;
}

@media (max-width: 768px) {
    .Container {
      display: flex;
      flex-direction: column;
      height: auto;
    }
    .image{
        display: none;
    }
  
  }
  