.changeFonts{
    color: rebeccapurple;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.image{
    overflow: hidden;
    height: auto;
    width: 50%;
}


@media (max-width: 768px) {
    .row {
      display: flex;
      flex-direction: column;
      height: auto;
    }
    .image{
        display: none;
    }
  
  }
  .seperator {
    height: 100%;
    width: 5px;
    background: black;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 25%;
  }