.main-navigation{
left:0;
top:0;
width: 100%;
background-color: black;
height: 3.5rem;
display: flex;
align-items: center;
}
.main-navigation__logo h1{
margin: 10px;
color:rosybrown;
font-size: 1.5rem;
}
.main-navigation__items{
margin-left: 1.5rem;
}
.main-navigation__items ul{
    display: flex;
    list-style: none;
    padding:0;
    margin: 0 1rem;
}
.main-navigation__items li{
    margin: 0 1rem;
}

.main-navigation__items a{
    text-decoration: none;
    color:white;
}
.main-navigation__items a:hover{
    text-decoration: none;
    color: lightblue ;   
}
.main-navigation__items a:active{
    text-decoration: none;
    color: lightblue ;
}